@font-face {
    font-family: Potra;
    src: url('../fonts/Potra.otf');
}

@font-face {
    font-family: 'Moon Bold';
    src: url('../fonts/Moon2.0-Bold.otf');
}

@font-face {
    font-family: 'Moon light';
    src: url('../fonts/Moon2.0-Light.otf');
}

@font-face {
    font-family: 'Moon Regular';
    src: url('../fonts/Moon2.0-Regular.otf');
}