@font-face {
    font-family: 'Moon Bold';
    src: url('../../fonts/Moon2.0-Bold.otf');
}

@font-face {
    font-family: 'Moon light';
    src: url('../../fonts/Moon2.0-Light.otf');
}

@font-face {
    font-family: 'Moon Regular';
    src: url('../../fonts/Moon2.0-Regular.otf');
}

@font-face {
    font-family: 'Jost* Book';
    font-style: normal;
    font-weight: normal;
    src: local('Jost* Book'), url('../../fonts/Jost400Book.woff') format('woff');
}

*,
html,
body{
	font-family: 'Moon Regular';
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
