.experience--details {
    &>a {
        border: 1px solid $primary--color;
        padding: 10px;
        display: flex;
        flex-direction: column;
        color: #001440;
        font-family: 'Jost* Book';
        text-decoration: none;
        width: max-content;
        h5{
            text-transform: uppercase;
            font-size: 1.25rem;
        }
        .job--details{
            display: flex;
            .job--timeline{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }
    }
}