header {
    .header--photo {
        img {
            max-width: 100%;
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    .header--details {
        h1 {
            font-family: 'Audiowide', cursive;
        }

        p {
            font-family: 'Moon Regular';
            line-height: 1.5;
            font-size: 1.5rem;
        }
    }
    .header--footer{
        text-align: center;
    }
}
