footer {
    p {
        font-family: 'Audiowide', cursive;
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding: 0;
        li {
            margin: 0 1rem;
            font-size: 2rem;

            a {
                text-decoration: none;
                color: $black;
            }

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: $bootstrap_small) {
                margin: 1rem;
            }
        }
    }
}
