footer{
    margin: 10px auto;
    padding: 5px 10px;
    ul{
        li{
            display: inline-block;
            a{
                display: block;
                margin: auto 5px auto auto
            }
        }
    }
}